<p>
  <em>Monospaced Thoughts</em> has two authors: Kristopher and Kiyoshi, brothers and partners
  in tech ventures. Co-Founders of <a href='http://commita.com'>Commita</a>, a software company by definition.
  You can reach them by twitter or email:
</p>
<p>Kiyoshi: <a href="http://twitter.com/13k_">@13k_</a> # kiyoshi[nospam]commita.com</p>
<p>Kristopher: <a href="http://twitter.com/krsmurata">@krsmurata</a> # kris[nospam]commita.com</p>
