<p><em>Monospaced Thoughts</em> has two authors: Kristopher and Kiyoshi, brothers and partners
in tech ventures. You can reach them by email:</p>
<p>Kiyoshi: kbmurata[nospam]gmail.com</p>
<p>Kristopher: krsmurata[nospam]gmail.com</p>
