html { margin: 20px }

body {
  font-family: 'OFL Sorts Mill Goudy','OFL Sorts Mill Goudy TT', 'Baskerville', Georgia, Times, serif;
  /*font-family: Corbel, 'Lucida Grande', Helvetica, sans-serif;*/
  font-size: 20px;
  background-color: #F6F7e3;
}

body > header {
  display: box;
  box-orient: vertical;
  box-align: center;
  box-pack: center;
  text-align: center;
}

body > header h1 {
  color: #333;
  font-size: 72px;
  font-weight: normal;
  text-shadow: #CDC0B0 1px 1px;
  letter-spacing: -1px;
  color: #000;
  display: block;
  text-shadow: #444 2px 2px;
}

body > header a {
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #000;
  text-shadow: #ccc 2px 2px;
}

body > header a:hover {
  text-decoration: none;
}

body > header h1 .monospaced {
  color: #FF8C00;
  text-shadow: #444 2px 2px;
}

body > header > .tagline {
  width: 720px;
  margin: 0 auto;
  text-align: right;
  font-style: italic;
}

body > section {
  width: 720px;
  margin: 0 auto;
}

article {
  background-color: #fff;
  padding: 2em 1em;
  border-radius: 5px;
  -wekbit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: #bbb 1px 1px;
  -webkit-box-shadow: #bbb 1px 1px;
  -moz-box-shadow: #bbb 1px 1px;
}

article > header > hr {
  margin: 0 0 5px 0;
}

header, footer, section, article {
	display: block;
}

#by {
	font-style: italic;
  margin-right: 5px;
	font-size: 28px;
}

#caption {
	position: absolute;
	font-size: 24px;
	margin: -135px 0 0 70px;
}

#path {
	color: #b53131;
}

.article-meta {
  font-style: italic;
  margin-right: 30px;
  font-size: 16px;
  text-align: right;
  width: 100%;
}

a {
  color: #FF8C00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

article > header > h1 {
  display: block;
}

article > header > h1 a {
  letter-spacing: -1px;
  color: black;
  text-decoration: none;
}

.post header {
	margin-bottom: 10px;
}

.post .body p:first-child {
	margin-top: 0;
}

.post .body p:last-child {
	margin-bottom: 0;
}

.post {
	margin-bottom: 30px;
}

.post:last-child {
  margin-bottom: 10px;
}

.post p {
  margin: 10px 0;
}

.post .more {
  margin-top: -10px;
  margin-right: 30px;
  font-style: italic;
  text-align: right;
}

h1, h2, h3, h4 {
  display: inline;
  margin: 0 0 0 5px;
  font-weight: normal;
}

ul, li {
  list-style-type: none;
}

pre {
  margin: 1em;
  padding: 1em;
  text-indent: 0;
  font-size: 14px;
  overflow-x: auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-family: MenschRegular, Menlo, Consolas, Monaco, "Droid Sans Mono", "DejaVu Sans Mono", monospace!important;
}

.gist pre {
  color: #666!important;
}

blockquote {
  font-style: italic;
}

.post h1 {
  font-size: 2em;
}

.post li {
  display: list-item;
  list-style-type: square;
}

#comments {
  margin-top: 15px;
  border-top: 1px solid #c4c4c4;
}

#archives {
  margin-top: 1em;
  padding-left: 1em;
}

#archives ul {
  margin: 0;
}

#archives li {
  list-style-type: square;
}

#archives a,
#archives a:visited,
#archives a:link
{
  color: #444;
  text-decoration: none;
  font-weight: bold;
}

#archives a:hover {
  color: #FF8C00;
}

body > footer {
  text-align: right;
  margin-right: 10px;
  margin-top: 50px;
	font-style: italic;
  font-size: 18px;
  color: #888;
}

body > footer > span {
  margin-left: 1em;
}

body > footer img {
  vertical-align: middle;
}

body > footer a,
body > footer a:link,
body > footer a:visited
{
  color: #FF8C00;
  text-decoration: none;
}

body > footer a:hover
{
  border-bottom: 2px solid #FF8C00;
}
