<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <h1><a href="<%= @config[:url] %>"><span class="mono">Monospaced</span> Thoughts</a></h1>
    </header>
    
    <section>
      <%= yield %> 
    </section>
    
    <footer>
      <a href="/index.xml">feed</a> |
      powered by <a href="http://cloudhead.io/toto">toto</a> |
      <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/80x15.png" /></a>
    </footer>
  </body>
</html>

